<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="exceptionResolver" class="com.blackbread.exception.HandlerExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">errors/500</prop>
				<prop key="java.lang.Error">errors/error</prop>
			</props>
		</property>
		<property name="statusCodes"><!-- 定义在发生异常时视图跟返回码的对应关系 -->
			<props>
				<prop key="errors/500">500</prop>
				<prop key="errors/404">404</prop>
			</props>
		</property>
	</bean>
</beans>