table.mystyle-table {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word
}

.op-btn {
	margin-bottom: 10px;
}

#pagination-section {
	text-align: center;
}

.permission-form {
	max-width: 700px;
	margin: 10px auto 0;
}