html,body {
	margin: 0px;padding: 0px;background-color: #F0F0F0;font-size: 12px;color: 333;
}
body{background: url("../images/top_bg.png") repeat-x;}
.top{width:1000px;height:110px;margin: auto;padding: 30px 30px 30px 0px}
.now{float: right;margin: 18px 10px 0px 0px}
.center{width: 1000px;margin: auto;}
.bottom{background: url("../images/bottom_rep.png") repeat-x; width: 100%;height: 111px;margin-top: 60px}
.bottom_cont{width: 1000px;margin: auto;height: 111px}
.bottom_cont div{padding-top:50px;height:118px;width: 912px;margin: auto;float: left}
.bottom_cont p{color: #5E82A8;font-size: 12px;line-height:16px;margin: auto;width: 745px;text-align: center;}
.bottom_cont a:link{ color: #5E82A8;  text-decoration: none}
.bottom_cont a:visited { color: #5E82A8;  text-decoration: none}
.bottom_cont a:hover{color: #5E82A8; text-decoration: underline;}
.bottom_cont a:active { color: #5E82A8; text-decoration: underline;}
